*,
*::before,
*::after {
  outline: 1px solid tomato;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
}
/* ===== COMMON STYLES ===== */
/* точки перелому: 320px, 768px і 1158px */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

/* ===== COMMON MOBILE STYLES ===== */

@media screen and (min-width: 320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
}

@media screen and (max-width: 1157px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

/* ===== COMMON TABLET STYLES ===== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* ===== COMMON DESKTOP STYLES ===== */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ===== HEADER MOBILE STYLES ===== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;

  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: #4d5ae5;
}

.header-nav-logo .logo {
  color: #2e2f42;
}

.current {
  color: #404bbf;
}

@media screen and (max-width: 767px) {
  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-nav-list {
    display: none;
  }

  .header-address {
    display: none;
  }

  .header-btn-menu {
    margin-left: auto;
    padding: 0;
    border: none;
    line-height: 0;
    background-color: transparent;
    stroke: #2f2f37;
  }
}

/* ===== HEADER STYLES ===== */
/* ===== HEADER TABLET STYLES ===== */

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-logo {
    margin-right: 120px;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-nav-item {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    font-weight: 500;

    line-height: 1.5;
    letter-spacing: 0.32px;
    text-transform: capitalize;

    color: #2e2f42;

    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current::after {
    content: '';

    width: 48px;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;

    position: absolute;

    left: 0;
    bottom: -1px;
  }

  .header-address {
    margin-left: auto;
    font-style: normal;
  }

  .header-address-item {
    text-transform: lowercase;

    color: currentColor;

    transition-property: color;
    transition-duration: 2500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus,
  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }

  .header-btn-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
}

/* ===== HEADER DESKTOP STYLES ===== */
@media screen and (min-width: 1158px) {
  .header-nav-logo {
    margin-right: 76px;
  }

  .header-address-list {
    display: flex;
    gap: 40px;
  }

  .header-address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}

/* ===== HERO STYLES ===== */
/* ===== HERO MOBILE STYLES ===== */
.hero {
  margin: 0 auto;

  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f42;
}

.page-title {
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  color: #fff;
  text-align: center;
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #fff;
  text-transform: capitalize;

  background-color: #4d5ae5;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 72px 0;
    max-width: 320px;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile.jpg);
  }

  .page-title {
    margin-bottom: 72px;
    max-width: 100%;

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
}

@media screen and (min-resolution: 192pdi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}
/* ===== HERO TABLET STYLES ===== */

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    max-width: 768px;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
  }

  .page-title {
    margin-bottom: 36px;
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }
}

@media screen and (min-resolution: 192pdi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet@2x.jpg);
  }
}

/* ===== HERO DESKTOP STYLES ===== */

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop.jpg);
  }

  .page-title {
    margin-bottom: 48px;
  }
}

@media screen and (min-resolution: 192pdi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop@2x.jpg);
  }
}

/* =====FEATURE STYLES ===== */
/* =====FEATURE MOBILE STYLES ===== */
.feature-list {
  display: flex;
}

.feature-item-title {
  margin-bottom: 8px;

  text-transform: capitalize;
  color: #2e2f42;
}

.feature-item-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
}

@media screen and (max-width: 767px) {
  .feature-list {
    flex-direction: column;
    gap: 72px;
  }

  .feature-item-title {
    text-align: center;
  }
}

@media screen and (max-width: 1157px) {
  .feature-icon-bcg {
    display: none;
  }

  .feature-item-title {
    font-size: 36px;
    font-weight: 700;

    line-height: 1.11;
    letter-spacing: 0.72px;
  }

  .feature-item-text {
    font-weight: 500;
  }
}

/* =====FEATURE TABLET STYLES ===== */
@media screen and (min-width: 768px) {
  .feature-list {
    column-gap: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .feature-list {
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .feature-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/* =====FEATURE DESKTOP STYLES ===== */

@media screen and (min-width: 1158px) {
  .feature-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .feature-icon-bcg {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid #8e8f99;

    background-color: #f4f4fd;
  }

  .feature-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}
